.bg-sidenav {
    height: 100vh;
    background: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.col-1-p {
    width: 6%!important;
}

.col-11-p {
    width: 94%!important;
    padding: 0 30px;
}

.logo-box {
    text-align: center;

    img {
        width: 100%;
        height: 150px;
        object-fit: contain;
        transform: scale(.8);
    }
}

.section {
    text-align: center;
    margin-bottom: 3vh;
    span {
        font-size: 10px;
        font-weight: 300;
    }
    transition: all .3s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.06)
    }
}

.option {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.search-input {
    margin: 20px 0;
    width: 60%;
    border-radius: 16px;
    border-style: none;
    height: 6vh;
    outline: none;
    padding: 0 20px;
    // border: 1px solid rgb(223, 223, 223);
    color: rgb(102, 102, 102);
    font-weight: 300;
    font-size: 13px;
}

.pos-fix {
    position: fixed;
    left: 0;
}

.pos-abs {
    position: absolute;
    right: 0;
}

.footer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    text-align: center;
    // background: hsl(34, 94%, 87%);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 15vh;
    flex-wrap: wrap;
    padding: 20px 0;
    span {
        width: 100%;
        font-size: 11px;
        font-weight: 600;
        user-select: none;
    }
    
    transition: all .3s ease-in-out;
}