<div class="container-fluid p-0">
    <div class="row">
        <div class="col-1-p pos-fix p-0 bg-sidenav">
            <div class="logo-box">
                <img class="img" src="../../assets/images/76ab2e19585305.562dce0bcf645.png" alt="">
            </div>
            <div class="section" (click)="openRegisterDialog()">
                <img class="option" src="../../assets/images/menu.svg" alt=""> <br>
                <span>Registrar</span>
            </div>
            <div class="section" (click)="openDeleteDialog()">
                <img class="option" src="../../assets/images/gears.svg" alt=""> <br>
                <span>Opciones</span>
            </div>

            <div class="footer">
                <span>Grupo 2</span> <br>
                <span>Equipo #1</span>
            </div>
        </div>
        <div class="col-11-p pos-abs">
            <div class="row">
                <div class="col-12 text-center">
                    <input (keyup.enter)="busqueda($event.target.value)" class="search-input" type="text"
                        placeholder="Buscar comida">
                </div>
            </div>
            <div class="col-12 p-3">
                <!-- <div class="termino-box">
                    Busqueda: {{ termino }}
                </div> -->
                <app-home [food]="foods" [newFood]="newFoodStatus"></app-home>
            </div>
        </div>
    </div>
</div>