<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="filter-image">
                <div class="name-food">
                    <span>{{ data.food.name }}</span>
                </div>
            </div>
            <img *ngIf="data.food.img !== 'no imagen'" class="img-food" [src]="data.food.img" alt="">
            <img *ngIf="data.food.img === 'no imagen'" class="img-food"
                src="../../../../assets/images/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="content-box">
                <div class="filters-items mb-3">
                    <div class="filter">
                        <div class="img">
                            <img *ngIf="data.food.categorie === 1" src="../../../assets/images/meat.svg" alt="">
                            <img *ngIf="data.food.categorie === 2" src="../../../assets/images/diet.svg" alt="">
                            <img *ngIf="data.food.categorie === 3" src="../../../assets/images/birthday-cake.svg">
                            <img *ngIf="data.food.categorie === 4" src="../../../assets/images/cheers.svg" alt="">
                            <img *ngIf="data.food.categorie === 5" src="../../../assets/images/fast-food.svg" alt="">
                        </div>
                        <div class="name-filter">
                            <span>{{ data.food.categorie | categorie }}</span>
                        </div>
                    </div>
                </div>

                <div class="info-box-content">
                    <div class="info-food">
                        <div class="label">
                            <span>Contenido</span>
                        </div>
                        <div class="description-box">
                            <span>{{ data.food.description }}</span>
                        </div>
                    </div>

                    <div class="total-box">
                        <span>{{ data.food.price | currency }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>