
.tag-box {
    position: absolute;
    top: 0%;
    left: 0;
    height: auto;
    span {
        background: rgb(169, 221, 85);
        padding: 20px 40px 15px 40px;
        color: #444444;
        font-weight: 600;
        font-size: 13px;
        border-bottom-right-radius: 16px;
    }
}

.img-food {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.filter-image {
    background: rgba(14, 14, 14, 0.801);
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30vh;

    .name-food {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        span {
            width: 100%;
            font-weight: 600;
            font-size: 40px;
            color: #fff;
        }
    }
}

.filter {
    margin-right: 1%;
    display: flex;
    width: 20%;
    padding: 5px 10px;
    border-radius: 16px;
    background: #fff;
    justify-content: center;
    border: 1px solid #444444;
    
    .img {
        width: 20%;
    }
    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    .name-filter {
        span {
            user-select: none;
            font-size: 10px;
        }
    }
}

.content-box {
    padding: 20px 20px;
}

.info-box-content {
    display: flex;
    width: 100%;
    height: 10vh;
    .info-food {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 25vh;
       .label {
           width: 100%;
           text-align: center;
           span {
               font-weight: 600;
               font-size: 15px;
               color: #ec9b3b;
           }
       }

       .description-box {
           width: 100%;
           text-align: justify;
           span {
               font-weight: 300;
               font-size: 13px;
           }
       }
    }

    .total-box {
        display: flex;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 25vh;
        span {
            font-size: 60px;
            font-weight: 600;
            color: #ec9b3b;
        }
    }
}
