<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="filter-titler mb-2">
                <span>Filtros</span>
            </div>
            <div class="filters-items">
                <div class="filter" (click)="applyFilters(1)">
                    <div class="img">
                        <img src="../../../assets/images/meat.svg" alt="">
                    </div>
                    <div class="name-filter">
                        <span>Carnes</span>
                    </div>
                </div>
                <div class="filter" (click)="applyFilters(2)">
                    <div class="img">
                        <img src="../../../assets/images/diet.svg" alt="">
                    </div>
                    <div class="name-filter">
                        <span>Ensaladas</span>
                    </div>
                </div>
                <div class="filter" (click)="applyFilters(3)">
                    <div class="img">
                        <img src="../../../assets/images/birthday-cake.svg" alt="">
                    </div>
                    <div class="name-filter">
                        <span>Postres</span>
                    </div>
                </div>
                <div class="filter" (click)="applyFilters(4)">
                    <div class="img">
                        <img src="../../../assets/images/cheers.svg" alt="">
                    </div>
                    <div class="name-filter">
                        <span>Bebidas</span>
                    </div>
                </div>
                <div class="filter" (click)="applyFilters(5)">
                    <div class="img">
                        <img src="../../../assets/images/fast-food.svg" alt="">
                    </div>
                    <div class="name-filter">
                        <span>Combos</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-12">
            <img (click)="getFoods()" src="../../../assets/images/reload.svg" alt="" class="refresh">
        </div> -->

        <div class="col-12">
            <div class="row mt-1 mb-4">
                <div class="col-12">
                    <div class="title mb-2">
                        <span>Resultados</span>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="foods.length > 0">
                <div class="col-3" *ngFor="let food of foods">
                    <mat-card (click)="openFoodInfoDialog(food)" class="food-menu">
                        <mat-card-content>
                            <div class="img-box">
                                <img *ngIf="food.img !== 'no imagen'" class="img-food" [src]="food.img" alt="">
                                <img *ngIf="food.img === 'no imagen'" class="img-food"
                                    src="../../../../assets/images/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
                                    alt="">
                            </div>
                            <div class="content-info">
                                <div class="title-food">
                                    <span>{{ food.name | slice:0:20}} ...</span>
                                </div>
                                <div class="description">
                                    <span>{{ food.description | slice: 0:50 }} ...</span>
                                </div>
                            </div>
                            <div class="price">
                                <span>{{ food.price | currency }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div *ngIf="foods.length === 0" class="row justify-content-center">
                <div class="no-foods text-center">
                    <span>No se encontraron alimentos registrados</span>
                </div>
            </div>
        </div>
    </div>
</div>