
.title {
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    user-select: none;
}

img.refresh {
    width: 20px;
    height: 20px;
    object-fit: contain;
    background: #ec9b3b;
    border-radius: 100%;
    padding: 3px;
    transform: scale(1.3);
    cursor: pointer;
}

.food-menu {
    box-shadow: none;
    padding: 0;
    border-radius: 16px;
    margin-bottom: 20px;
    height: 40vh;
    .img-box {
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
        }
    }

    .content-info {
        padding: 10px 20px;
        .title-food {
            text-align: center;
            font-weight: 600;
            user-select: none;
            color: #ec9b3b;
            padding: 10px 0;
        }
    }
    transition: all .3s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}

.filters-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.filter {
    margin-right: 1%;
    cursor: pointer;
    display: flex;
    width: 15%;
    padding: 5px 10px;
    border-radius: 16px;
    background: #fff;
    justify-content: center;
    border: 1px dotted transparent;
    .img {
        width: 20%;
    }
    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    .name-filter {
        span {
            user-select: none;
            font-size: 13px;
        }
    }
    transition: all .3s ease-in-out;
    &:hover {
        transform: scale(1.03);
        border: 1px dotted #ec9b3b;

    }
}

.price {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    span {
        padding: 5px 30px;
        color: #fff;
        font-weight: 600;
        background: #ec9b3b;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        user-select: none;
    }
}

.description {
    padding: 10px 15px 0px 15px;
    text-align: justify;
    font-weight: 300;
    font-size: 13px;
    user-select: none;
}
