.title {
    span {
        font-weight: 600;
        font-size: 20px;
    }
    margin-bottom: 13px;
}

label {
    font-size: 13px;
    font-weight: 300;
}

.input {
    width: 100%;
    border-style: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    outline: none;
    padding: 10px 10px;
    font-size: 13px;
    color: rgb(102, 102, 102);
}

textarea {
    resize: none;
}

.button-box {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 15px 0;
}

button {
    border-style: none;
    background: #ec9b3b;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    padding: 7px 25px;
    outline: none;
    border-radius: 10px;
}

button.cancel {
    border-style: none;
    background: transparent;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    padding: 7px 25px;
    outline: none;
    border-radius: 10px;
}