<div *ngIf="data === null" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <span>Registrar comida</span>
            </div>
        </div>

        <div class="col-12">
            <div [formGroup]="foodForm" class="row">
                <div class="col-6">
                    <label>Nombre:</label> <br>
                    <input class="input" type="text" formControlName="name">
                </div>
                <div class="col-6">
                    <label>Precio:</label> <br>
                    <input class="input" type="number" formControlName="price">
                </div>
                <div class="col-12">
                    <label>Descripción:</label>
                    <textarea class="input" rows="5" formControlName="description"></textarea>
                </div>
                <div class="col-6">
                    <label>Categoria:</label>
                    <mat-select formControlName="categorie" class="input">
                        <mat-option value="1">
                            Carnes
                        </mat-option>
                        <mat-option value="2">
                            Ensaladas
                        </mat-option>
                        <mat-option value="3">
                            Postres
                        </mat-option>
                        <mat-option value="4">
                            Bebidas
                        </mat-option>
                        <mat-option value="5">
                            Combos
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-6">
                    <label>Url imagen:</label> <br>
                    <input class="input" type="text" formControlName="img">
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="button-box">
                <button (click)="closeDialog()" class="cancel">Cancelar</button>
                <button (click)="createFood()">Registrar</button>
            </div>
        </div>
    </div>

</div>

<div *ngIf="data !== null" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <span>Editar comida</span>
            </div>
        </div>

        <div class="col-12">
            <div [formGroup]="foodForm" class="row">
                <div class="col-6">
                    <label>Nombre:</label> <br>
                    <input class="input" type="text" formControlName="name">
                </div>
                <div class="col-6">
                    <label>Precio:</label> <br>
                    <input class="input" type="number" formControlName="price">
                </div>
                <div class="col-12">
                    <label>Descripción:</label>
                    <textarea class="input" rows="5" formControlName="description"></textarea>
                </div>
                <div class="col-6">
                    <label>Categoria:</label>
                    <mat-select formControlName="categorie" class="input">
                        <mat-option value="1">
                            Carnes
                        </mat-option>
                        <mat-option value="2">
                            Ensaladas
                        </mat-option>
                        <mat-option value="3">
                            Postres
                        </mat-option>
                        <mat-option value="4">
                            Bebidas
                        </mat-option>
                        <mat-option value="5">
                            Combos
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-6">
                    <label>Url imagen:</label> <br>
                    <input class="input" type="text" formControlName="img">
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="button-box">
                <button (click)="closeDialog()" class="cancel">Cancelar</button>
                <button (click)="updateFood()">Actualizar</button>
            </div>
        </div>
    </div>

</div>