<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="subtitle">
                <span>Lista de comida</span>
            </div>

            <div class="list-box">
                <mat-list role="list">
                    <mat-list-item *ngFor="let food of foods" role="listitem">
                        <div class="food-box">
                            <div class="img-box">
                                <img [src]="food.img" alt="">
                            </div>
                            <div class="name-box">
                                <span>{{ food.name }}</span>
                            </div>
                            <div class="icon-box">
                                <img (click)="editFood(food)" src="../../../../assets/images/edit.svg" alt="">
                            </div>
                            <div class="icon-box">
                                <img (click)="deleteFood(food._id)" src="../../../../assets/images/delete.svg" alt="">
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>
</div>