mat-list-item {
  background: #eff0f4;
  border-radius: 10px;
  margin-bottom: 10px;
  user-select: none;

  span {
    font-size: 13px;
    font-weight: 400;
  }
}

.food-box {
    display: flex;
    width: 100%;
    align-items: center;
}

.img-box {
    display: flex;
    width: 10%;
    align-items: center;
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.name-box {
    display: flex;
    width: 80%;
    align-items: center;
    span {
        font-weight: 300;
    }
}

.icon-box {
    display: flex;
    align-items: center;
    width: 5%;
    justify-content: center;
  img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    
  }
}

.subtitle {
    font-weight: 600;
    margin: 15px 0;
    span {
        font-size: 19px;
    }
}

.list-box {
    min-height: 50vh;
    height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 15px;
    &::-webkit-scrollbar {
        display: none;
    }
}